node_modules
.env
.openzeppelin
coverage
coverage.json
typechain
typechain-types
inspo
package-lock.json
providers.json
docs
.vscode/

*outputs
*broadcast

# Hardhat
hardhat.config.ts
cache
artifacts

# Forge
forge-cache
out
cache_forge

# Python
pyenv
data/

# Echidna
corpus/
**/crytic-compile
**/crytic-export
**/corpus
cache_forge

*.csv
*.png