node_modules
.env
.openzeppelin
coverage.json
typechain
typechain-types
inspo
package-lock.json
yarn.lock
providers.json
docs
.vscode/
*outputs
*broadcast
comp*.txt
lcov*.infoBackup
lcov.info

# Hardhat
hardhat.config.ts
cache
artifacts

# Forge
forge-cache
out
cache_forge
*tmpTests*

# Python
pyenv
data/

# Echidna /Medusa
corpus/
medusa-corpus/
echidna-corpus/
echidna-corpus-deep/
**/crytic-compile
**/crytic-export
**/corpus
**/medusa-corpus
**/echidna-corpus

cache_forge

*.csv
*.png